.footerBlueGreen{
    padding: 80px;
    height: 264px;
    background-color: #22DAD8;
    color: #FFF;
    text-align: center;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.footerRed{
    padding: 80px;
    height: 264px;
    background-color: #B74D4F;
    color: #FFF;
    text-align: center;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.logoFooter img{
    width: 160px;
}

.socialMedia svg{
    margin: 16px;
    font-size: 35px;
    cursor: pointer;
    color: #FFF;
}

.developer {
    font-size: 16px;
    font-weight: 500;
}



