.date {
    margin: 24px 0;
}

.date label {
    display: flex;
    margin-bottom: 8px;
    font-size: 24px;
}

.date input {
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 16px;
}
